# .gitignore

## Output
lib

## npm
node_modules

## Editors

### Eclipse
.classpath
.project
.settings

### Netbeans
nbproject

### VIM
.*.sw[a-p]

### Intellij
*.iml
*.ipr
*.iws
.idea/

# Mac
.DS_Store


